body {
    color: white;
    background-color: #333;
    font-family: 'Oxygen', sans-serif;
}

.sidebar .sidebar-content {
    background-color: #616161;
    background-image: none;
    color: white;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
