body {
    color: gainsboro;
    background-color: #333;
    font-family: 'Oxygen', sans-serif;
}


.sidebar .sidebar-content {
    background-color: #c1c1c1;
    background-image: none;
    color: black;
}


#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
