body{
          background-color: rgb(0, 0, 0);
      }
      h1{
          font-weight: lighter;
          margin-bottom: 0px;
          margin-top: 40px;
          text-decoration: transparent;
      }
      p{
          font-family:"Poppins",sans-serif;
          text-align:left;
          padding: 10px;
          margin:0px;
      }
      .project {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          width: 250px;
          height: 425px;
          margin:auto;
          text-align:center;
          background-color: white;
          margin-top: 40px;
          display: inline-block;
          margin-left: 40px;
          border-radius: 25px;
      }
      .title {
          color:rgb(0, 0, 0);
          font-size: 16px;
      }
      a {
          color: rgb(0, 0, 0);
          font-size: 25px;
      }
      .heading {
        font-size: 50px;
        text-align: center;
        font-family: "Poppins";
        color: white;
        font-weight:lighter;
        margin-bottom: 0px;
      }
